header {
  background: #20232a;
  color: #fafafa;
}

.header-content {
  min-height: 4rem;
  background-color: #20232a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: -webkit-link;
  /* width: 100%;/ */
  /* max-width: 980px; */
}

.header-content p {
  color: hsla(0, 0%, 100%, 0.5);
}
