header#main-header {
  background: #282c34;
  color: #fafafa;
}

.header-content {
  /* color: #fafafa; */
  /* min-height: 4rem; */
  background-color: #20232a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 1rem; */
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: -webkit-link;
  color: hsla(0, 0%, 100%, 0.5);
}

.header-content p {
  color: #fafafa;
}
